@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #241915;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

.layout-header {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .layout-header {
    margin-top: 3.91875rem;
  }
}

.layout-sns {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .layout-sns {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.layout-access {
  padding-top: 54px;
  padding-top: 3.375rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .layout-access {
    padding-top: 7.8125rem;
    padding-bottom: 6.875rem;
  }
}

.layout-footer {
  padding-top: 43px;
  padding-top: 2.6875rem;
  padding-bottom: 62px;
  padding-bottom: 3.875rem;
}
@media screen and (min-width: 768px) {
  .layout-footer {
    padding-top: 3.75rem;
    padding-bottom: 4.8125rem;
  }
}

.inner {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 1.25rem;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 75rem;
    padding: 0 1.5625rem;
  }
}

.c-btn {
  padding: prem(14) prem(60);
  padding: prem(14) prem(60);
  display: inline-block;
  font-size: prem(15);
  font-size: prem(15);
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: prem(50);
  background-color: #fff;
}

.c-btn.c-btn--black {
  color: #fff;
  background-color: #000;
}

.btn {
  padding: 14px 60px;
  padding: 0.875rem 3.75rem;
  position: relative;
  display: inline-block;
  border: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Yu Gothic";
}

@media screen and (min-width: 768px) {
  .btn:hover {
    opacity: 1;
  }
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media screen and (min-width: 768px) {
  .btn:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

.btn span {
  position: relative;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .btn:hover span {
    color: #fff;
  }
}

.main-title {
  font-weight: 500;
  text-align: center;
  font-family: "Raleway";
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.15625;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 3.375rem;
    line-height: 1.1851851852;
  }
}

#luxy {
  /* position:  relative !important; */
}

.luxy-el {
  position: absolute;
}

.luxy-img01 {
  bottom: 750px;
  bottom: 46.875rem;
  right: 3%;
  width: 160px;
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .luxy-img01 {
    bottom: 71.875rem;
    width: 20.125rem;
  }
}

.luxy-img02 {
  bottom: 650px;
  bottom: 40.625rem;
  left: 5%;
  width: 50px;
  width: 3.125rem;
}
@media screen and (min-width: 768px) {
  .luxy-img02 {
    width: 6.25rem;
  }
}

.luxy-img03 {
  top: -200px;
  top: -12.5rem;
  right: 10%;
  width: 60px;
  width: 3.75rem;
}
@media screen and (min-width: 768px) {
  .luxy-img03 {
    width: 7.5rem;
  }
}

.luxy-img04 {
  top: -300px;
  top: -18.75rem;
  left: -25%;
  width: 300px;
  width: 18.75rem;
}
@media screen and (min-width: 768px) {
  .luxy-img04 {
    left: -15%;
    width: 36.875rem;
  }
}

.mv {
  position: relative;
  z-index: 1;
  height: 75vh;
  min-height: 400px;
  min-height: 25rem;
}
@media screen and (min-width: 768px) {
  .mv {
    height: 100vh;
  }
}

.mv__inner {
  height: inherit;
  min-height: inherit;
}

.mv__title-wrap {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

.mv__main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mv__main-title img {
  aspect-ratio: 535/233;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.mv__sub-title {
  margin-top: 20px;
  margin-top: 1.25rem;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .mv__sub-title {
    font-size: 2.8125rem;
  }
}

.mv__swiper,
.mv__swiper .swiper-img,
.mv__swiper .swiper-img img {
  height: inherit;
  min-height: inherit;
}

.mv__swiper .swiper-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mv__swiper .swiper-slide.swiper-slide-active .swiper-img,
.mv__swiper .swiper-slide.swiper-slide-duplicate-active .swiper-img,
.mv__swiper .swiper-slide.swiper-slide-prev .swiper-img {
  -webkit-animation: scale 8s linear 0s normal both;
          animation: scale 8s linear 0s normal both;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.header {
  height: 40px;
  height: 2.5rem;
  font-family: "Raleway";
}
@media screen and (min-width: 768px) {
  .header {
    height: 3.75rem;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 3.125rem;
  }
}

.header__logo {
  max-width: 74px;
  max-width: 4.625rem;
  width: 100%;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__logo {
    min-width: 6.25rem;
  }
}

.header__logo a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  display: none;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.header__nav-item {
  height: inherit;
}

.header__nav-item--contact a {
  margin-left: 15px;
  margin-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  width: 5rem;
}

.header__nav-link img {
  aspect-ratio: 32/32;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.header__nav-item a {
  padding: 0 15px;
  padding: 0 0.9375rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.header__nav-item a::after {
  content: "";
  margin-left: 10px;
  margin-left: 0.625rem;
  width: 11px;
  width: 0.6875rem;
  height: 12px;
  height: 0.75rem;
  display: inline-block;
}

/*===================================
 * はんばーガーメニュー
===================================*/
.header__hunberger {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: 84px;
  width: 5.25rem;
  height: 84px;
  height: 5.25rem;
  background-color: #241915;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .header__hunberger {
    display: none;
  }
}

.header__hunberger.is-open {
  background-color: transparent;
}

.header__hunberger span {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 28px;
  width: 1.75rem;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__hunberger span:nth-of-type(1) {
  top: -10px;
  top: -0.625rem;
}

.header__hunberger span:nth-of-type(2) {
  top: 0;
}

.header__hunberger span:nth-of-type(3) {
  top: 10px;
  top: 0.625rem;
}

.header__hunberger.is-open span:nth-of-type(1) {
  top: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.header__hunberger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hunberger.is-open span:nth-of-type(3) {
  top: -6px;
  top: -0.375rem;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
  padding: 228px 0;
  padding: 14.25rem 0;
  position: absolute;
  z-index: 900;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh;
  background-color: #241915;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__drawer.is-open {
  left: 0;
}

.header__drawer::-webkit-scrollbar {
  display: none;
}

.header__drawer-item {
  text-align: center;
}
.header__drawer-item:not(:last-child) {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

.header__drawer-item a {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.header__drawer-item.header__drawer-item--contact a {
  text-align: -webkit-center;
}

.about {
  background-color: #241915;
  font-family: "游ゴシック体";
}

.about__inner {
  padding-top: 124px;
  padding-top: 7.75rem;
  padding-bottom: 230px;
  padding-bottom: 14.375rem;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding-top: 15.9375rem;
    padding-bottom: 15.9375rem;
  }
}

.about__content {
  color: #fff;
  text-align: center;
}

.about__title {
  margin-bottom: 53px;
  margin-bottom: 3.3125rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 5.0625rem;
  }
}
.about__title span.m {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.3333333333;
}
@media screen and (min-width: 768px) {
  .about__title span.m {
    font-size: 3.5rem;
    line-height: 2.3214285714;
  }
}
.about__title span.l {
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .about__title span.l {
    font-size: 5.0625rem;
    line-height: 1.6049382716;
  }
}

.about__text {
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.2857142857;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 1.375rem;
    line-height: 2.5;
  }
}

.service {
  background-color: #241915;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "A-OTF Futo Go B101 Pro";
}
.service::before {
  content: "";
  background-image: url(../img/service/service_sp-bg.png);
  background-size: 130% auto;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .service::before {
    content: "";
    background-image: url(../img/service/service_bg.png);
    background-size: contain;
  }
}

.service__mainTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .service__mainTitle {
    width: 59.8958333333%;
  }
}

.service__mainTitle img {
  aspect-ratio: 1150/230;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.service__swiper {
  margin-top: 122px;
  margin-top: 7.625rem;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .service__swiper {
    margin-top: 11.25rem;
    margin-bottom: 10rem;
  }
}

.service__inner {
  padding: 0;
}

.service__item-img-box img {
  width: auto; /* 幅は自動調整 */
  height: 100%; /* 高さをコンテナと同じに設定 */
  -o-object-fit: cover;
     object-fit: cover; /* 画像をトリミングせずにコンテナに収める */
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; /* 水平方向に要素を並べる */
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; /* 子要素の高さを揃える */
}
@media screen and (min-width: 768px) {
  .service__items {
    margin-top: auto;
  }
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* フレックスボックスを使って内容を整理 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 縦方向に要素を並べる */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* 内容を均等に分散 */
  height: auto; /* 高さは自動調整 */
  margin-top: auto;
}
.service__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.service__title {
  color: #fff;
  text-align: center;
  margin-top: 32px;
  margin-top: 2rem;
}
.service__title span {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.1923076923;
}
@media screen and (min-width: 768px) {
  .service__title {
    margin-top: 4.375rem;
  }
  .service__title span {
    font-size: 2.6875rem;
    line-height: 1.2093023256;
  }
}

.service__subTitle {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .service__subTitle {
    margin-bottom: 1.625rem;
    font-size: 1.4375rem;
    line-height: 1.2173913043;
  }
}

.service__price {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.2105263158;
}
@media screen and (min-width: 768px) {
  .service__price {
    font-size: 2.0625rem;
    line-height: 1.2121212121;
  }
}

.service-swiper {
  position: relative;
}

.service-swiper .swiper-slide {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.7;
}
.service-swiper .swiper-slide .service__title {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-swiper .swiper-slide-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  position: relative;
}
.service-swiper .swiper-slide-active .service__title {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-swiper .service-swiper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 220/160;
}
@media screen and (min-width: 768px) {
  .service-swiper .service-swiper img {
    aspect-ratio: 300/180;
  }
}

.service-swiper .swiper-pagination {
  bottom: -20%;
}
@media screen and (min-width: 768px) {
  .service-swiper .swiper-pagination {
    top: 50%;
    right: 0.625rem;
    left: auto;
    left: initial;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 0;
  }
}

.service-swiper .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #241915;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .service-swiper .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-image: url("/src/assets/img/swiper/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  position: absolute;
  top: 0;
}

.swiper-button-next::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev {
  left: 5%;
}
@media screen and (min-width: 768px) {
  .swiper-button-prev {
    left: 30%;
  }
}

.swiper-button-next {
  right: 5%;
}
@media screen and (min-width: 768px) {
  .swiper-button-next {
    right: 30%;
  }
}

.menu {
  position: relative;
  z-index: 0;
  background-color: #241915;
  font-family: "A-OTF Futo Go B101 Pro";
}

.menu__mv {
  background-image: url(../img/menu/menu_sp-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  position: relative;
  min-height: 100%;
  height: 170px;
  height: 10.625rem;
}
@media screen and (min-width: 768px) {
  .menu__mv {
    background-image: url(../img/menu/menu_bg.png);
    height: 21.625rem;
  }
}

.menu__mainTitle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 64.6153846154%;
}
@media screen and (min-width: 768px) {
  .menu__mainTitle {
    width: 54.3229166667%;
  }
}

.menu__mainTitle img {
  aspect-ratio: 1043/266;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.menu__wrap {
  padding-top: 55px;
  padding-top: 3.4375rem;
  padding-bottom: 76px;
  padding-bottom: 4.75rem;
}
@media screen and (min-width: 768px) {
  .menu__wrap {
    padding-top: 11rem;
    padding-bottom: 10.1875rem;
  }
}

.menu__items {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__category:not(:last-child) {
  margin-bottom: 55px;
  margin-bottom: 3.4375rem;
}
@media screen and (min-width: 768px) {
  .menu__category {
    margin-bottom: 0rem;
    width: 26%;
  }
}

.menu__category-title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.menu__category-title p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.1666666667;
}

.menu__item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .menu__item-name-en {
    font-size: 0.625rem;
    line-height: 2.4;
  }
}

@media screen and (min-width: 768px) {
  .menu__item-name-jp {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .menu__item-name-stauts {
    font-size: 0.75rem;
    line-height: 2;
  }
}

@media screen and (min-width: 768px) {
  .menu__item-size-price {
    font-size: 1rem;
    line-height: 1.1875;
  }
  .menu__item-size-price span {
    font-size: 0.875rem;
    line-height: 1.2142857143;
  }
}

.sns {
  background-color: #D6D1D0;
}

.sns__inner {
  padding: 0;
}

.sns__content {
  text-align: center;
  margin-top: 33px;
  margin-top: 2.0625rem;
}
@media screen and (min-width: 768px) {
  .sns__content {
    margin-top: 3.125rem;
  }
}

.sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 31px;
  margin-bottom: 1.9375rem;
}
@media screen and (min-width: 768px) {
  .sns__list {
    margin-bottom: 3.125rem;
  }
}

.sns__item {
  width: 32.8205128205%;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .sns__item {
    width: 32.5%;
    margin-bottom: 0.625rem;
  }
}

.access {
  position: relative;
  z-index: 0;
  background-color: #d6d1d0;
  font-family: "A-OTF Futo Go B101 Pro";
}
.access::before {
  content: "";
  background-image: url(../img/access/access_bg.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__title {
  color: #fff;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .access__title {
    margin-bottom: 3.8125rem;
  }
}

.access__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 53.5%;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .access__map {
    padding-top: 47.5%;
    margin-bottom: 3.5rem;
  }
}

.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .access__info {
    margin-bottom: 3.6875rem;
  }
}

@media screen and (min-width: 768px) {
  .access__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.access__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #706663;
  margin-bottom: 38px;
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 768px) {
  .access__info-item {
    margin-bottom: 0rem;
  }
}

.access__info-item-icon {
  width: 100px;
  width: 6.25rem;
  height: 100px;
  height: 6.25rem;
  margin-right: 15px;
  margin-right: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .access__info-item-icon {
    width: 7.3125rem;
    height: 7.3125rem;
    margin-right: 2rem;
  }
}
.access__info-item-icon img {
  aspect-ratio: 70/70;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
@media screen and (min-width: 768px) {
  .access__info-item-icon img {
    aspect-ratio: 117/117;
  }
}

.access__info-item-text-title {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.3181818182;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.access__info-item-text-title small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.4166666667;
}
@media screen and (min-width: 768px) {
  .access__info-item-text-title {
    font-size: 1.5rem;
    line-height: 1.2083333333;
    margin-bottom: 1.4375rem;
  }
}

.access__info-item-text-content {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8125;
}
.access__info-item-text-content strong {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.1363636364;
}

.access__contact {
  background-color: #241915;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  font-family: "Helvetica";
  padding: 15px 0;
  padding: 0.9375rem 0;
}
@media screen and (min-width: 768px) {
  .access__contact {
    padding: 1.5rem 0;
  }
}
.access__contact a h2 {
  display: inline-grid;
}
.access__contact a h2 .s {
  font-family: "A-OTF Futo Go B101 Pro";
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .access__contact a h2 .s {
    font-size: 1.5rem;
    line-height: 1.2083333333;
  }
}
.access__contact a h2 .l {
  font-size: 32px;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .access__contact a h2 .l {
    font-size: 3.625rem;
    line-height: 1.8103448276;
  }
}

.footer {
  background-color: #706663;
  font-family: "A-OTF Futo Go B101 Pro";
  font-weight: bold;
}

.footer__wrap {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__logo {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 0rem;
  }
}

.footer__logo-img {
  width: 58.9743589744%;
}
.footer__logo-img a {
  display: block;
}
.footer__logo-img a img {
  aspect-ratio: 230/100;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer__logo-img {
    width: 29.6666666667%;
  }
}

.footer__logo-text {
  margin-top: 24px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer__info {
    width: 29.6666666667%;
  }
}

.footer__business-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__business-hours {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
  }
}

.footer__text small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.4166666667;
}

.footer__holidays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__holidays {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__copyright-box {
  background-color: #241915;
  text-align: center;
  padding-top: 23px;
  padding-top: 1.4375rem;
  padding-bottom: 26px;
  padding-bottom: 1.625rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright-box {
    padding-top: 1.3125rem;
    padding-bottom: 1.5rem;
  }
}

.footer__copyright {
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1rem;
    line-height: 1.8125;
  }
}

.l-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #241915;
}

.loading__img {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  width: 18.75rem;
  opacity: 0;
  -webkit-animation: loading 1.5s forwards ease-in-out;
          animation: loading 1.5s forwards ease-in-out;
}

.loading__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.u-border {
  margin: 11.5px 0;
  margin: 0.71875rem 0;
  border-bottom: 1px solid #fff;
}

.is-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: block;
  }
}

.is-pc {
  display: block;
}
@media screen and (min-width: 768px) {
  .is-pc {
    display: none;
  }
}

.delay > * {
  opacity: 0;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.btnAnimation:hover {
  display: inline-block;
  opacity: 0.8;
}

@media screen and (max-width: 838px) {
  .fadein {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .fadein.active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=style.css.map */
