@use "../foundation" as *;

.about {
  background-color: $color-black;
  font-family: $font-family-01;
}

.about__inner{

  @include mq(md){
    padding-top: rem(255);
    padding-bottom: rem(255);
  }
}


.about__content{
  color: $color-white;
  text-align: center;



}

.about__title {

  @include mq(md){
    margin-bottom: rem(81);
  }
  & span.m {
    @include mq(md){
      font-size:  rem(56);
      line-height: calc(130 / 56);
    }
  }

  & span.l {
    @include mq(md){
      font-size:  rem(81);
      line-height: calc(130 /81 );
    }
  }
}

.about__text{
  font-weight: normal;
  @include mq(md){
    font-size:  rem(22);
    line-height: calc(55 / 22);
  }
}
