@use "../foundation" as *;

.access {
  position: relative;
  z-index: 0;
  background-color: #d6d1d0;
  font-family: $font-family-02;
  &::before {
    content: "";
    background-image: url(../img/access/access_bg.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.access__inner {
  // background-color: #D6D1D0;
  // margin: 0 calc(50% - 50vw);
  // width: 100vw;
}

.access__wrap {
}

.access__title {
  color: $color-white;
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(61);
  }
}

.access__content {
}

.access__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 53.5%;
  margin-bottom: rem(40);
  @include mq(md) {
    padding-top: 47.5%;
    margin-bottom: rem(56);
  }
}

.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  @include mq(md) {
    margin-bottom: rem(59);
  }
}

.access__info-list {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.access__info-item {
  display: flex;
  align-items: center;
  color: #706663;
  margin-bottom: rem(38);
  @include mq(md) {
    margin-bottom: rem(0);
  }
}

.access__info-item-icon {
  width: rem(100);
  height: rem(100);
  margin-right: rem(15);
  @include mq(md) {
    width: rem(117);
    height: rem(117);
    margin-right: rem(32);
  }

  img {
    aspect-ratio: 70/70;
    object-fit: cover;
    height: auto;
    @include mq(md) {
      aspect-ratio: 117/117;
    }
  }
}

.access__info-item-text {
}

.access__info-item-text-title {
  font-size: rem(22);
  line-height: calc(29 / 22);
  margin-bottom: rem(18);
  small{
    font-size: rem(12);
    line-height: calc(29 / 12);
  }
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(29 / 24);
    margin-bottom: rem(23);
  }
}

.access__info-item-text-content {
  font-size: rem(16);
  line-height: calc(29 / 16);

  strong {
    font-size:  rem(22);
    line-height: calc(25 / 22);
  }
}

.access__contact {
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  border-radius: 10px;
  font-family: $font-family-contact;
  padding: rem(15) 0;

  @include mq(md) {
    padding: rem(24) 0;
  }
  a {
    h2 {
      display: inline-grid;
      .s {
        font-family: $font-family-02;
        font-size:  rem(14);
        @include mq(md) {
          font-size: rem(24);
          line-height: calc(29 / 24);
        }
      }

      .l {
        font-size:  rem(32);
        @include mq(md) {
          font-size: rem(58);
          line-height: calc(105 / 58);
        }
      }
    }
  }
}
