@use "../foundation" as *;

.footer {
  background-color: #706663;
  font-family: $font-family-02;
  font-weight: bold;
}

.footer__inner {
}

.footer__wrap {
  color: $color-white;
  @include mq(md){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer__logo {
  margin-bottom: rem(50);
  @include mq(md){
    margin-bottom: rem(0);
  }

}

.footer__logo-img{
  width: per(230, 390);

  a {
    display: block;
    img {
      aspect-ratio: 230/100;
      object-fit: cover;
      height: auto;
    }
  }

  @include mq(md){
    width: per(356, 1200);
  }
}

.footer__logo-text{
  margin-top: rem(24);
}

.footer__info{
  @include mq(md){
    width: per(356, 1200);
  }
}

.footer__business-hours{
  display: flex;
  @include mq(md){
    justify-content: space-between;
    text-align: right;
  }
}
// .footer__business-hours--sa{
//   display: flex;
//   justify-content: space-between;
//   text-align: right;
// }

.footer__title{

}

.footer__text{

  small{
    font-size: rem(12);
    line-height: calc(29 / 12);
  }
}

.footer__holidays{
  display: flex;
  @include mq(md){
    justify-content: space-between;
  }
}
.footer__copyright-box{
  background-color: $color-black;
  text-align: center;
  padding-top: rem(23);
  padding-bottom: rem(26);
  @include mq(md){
    padding-top: rem(21);
    padding-bottom: rem(24);
  }
}
.footer__copyright{
  color: $color-white;
  font-size:  rem(12);
  @include mq(md){
    font-size: rem(16);
    line-height: calc(29 / 16);
  }
}
