@use "../foundation" as *;

.header {
  height: rem(40);
  font-family: $font-family-title;
  @include mq(md) {
    height: rem(60);
  }
}

.header__inner {
  height: inherit;
  display: flex;
  @include mq(md) {
    justify-content: flex-end;
    padding: 0 rem(50);
  }
}

.header__logo {
  max-width: rem(74);
  width: 100%;
  height: inherit;
  @include mq(md) {
    min-width: rem(100);
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__nav {
  display: none;
  height: inherit;
  @include mq(md) {
    display: block;
  }
}

.header__nav-items {
  display: flex;
  height: inherit;
}

.header__nav-item {
  height: inherit;

}
.header__nav-item--contact a {
  margin-left: rem(15);
  display: flex;
  align-items: center;
  width: rem(80);
}

.header__nav-link{

  img{
    aspect-ratio: 32/32;
    object-fit: cover;
    height: auto;
  }
}

.header__nav-item a {
  padding: 0 rem(15);
  height: inherit;
  display: flex;
  align-items: center;
  font-size: rem(16);
  font-weight: bold;
  line-height: 1;
  color: $color-white;
  text-transform: uppercase;

  &::after {
    content: "";
    margin-left: rem(10);
    width: rem(11);
    height: rem(12);
    display: inline-block;
  }
}

/*===================================
 * はんばーガーメニュー
===================================*/

.header__hunberger {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: rem(84);
  height:  rem(84);
  background-color: $color-brown;
  cursor: pointer;
  transition: .3s;
  @include mq("md") {
      display: none;
  }
}

.header__hunberger.is-open {
  background-color: transparent;
}

.header__hunberger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: rem(28);
  height: 3px;
  background-color: $color-white;
  transition: .5s;
}

.header__hunberger span:nth-of-type(1) {
  top: rem(-10);
}

.header__hunberger span:nth-of-type(2) {
  top: 0;
}

.header__hunberger span:nth-of-type(3) {
  top: rem(10);
}

.header__hunberger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.header__hunberger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hunberger.is-open span:nth-of-type(3) {
  top: rem(-6);
  transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
  padding: rem(228) 0;
  position: absolute;
  z-index: 900;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh;
  background-color: $color-brown;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: .6s;
}

.header__drawer.is-open {
  left: 0;
}

.header__drawer::-webkit-scrollbar {
  display:none;
}

.header__drawer-item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: rem(80);
  }
}

.header__drawer-item a {
  display: block;
  font-size: rem(16);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
}

.header__drawer-item.header__drawer-item--contact a {
  text-align: -webkit-center;
}
