@use "../foundation" as *;

.menu{
  position: relative;
  z-index: 0;
  background-color: $color-brown;
  font-family: $font-family-02;
}
.menu__mv {
  background-image: url(../img/menu/menu_sp-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  position: relative;
  min-height: 100%;
  height:  rem(170);
  @include mq(md){
    background-image: url(../img/menu/menu_bg.png);
    height:  rem(346);
  }
}

.menu__mainTitle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: per(252, 390);
  @include mq(md){
    width: per(1043, 1920);
  }

}
.menu__mainTitle img {
  aspect-ratio: 1043/266;
  object-fit: cover;
  height: auto;
}

.menu__wrap{
  padding-top: rem(55);
  padding-bottom: rem(76);
  @include mq(md){
    padding-top: rem(176);
    padding-bottom: rem(163);
  }
}


.menu__content{

}

.menu__items{
  color: $color-white;

  @include mq(md){
    // padding-top: rem(176);
    // padding-top: rem(732);
    display: flex;
    justify-content: space-between;
  }
}


.menu__category{
  &:not(:last-child){
    margin-bottom: rem(55);
  }

  @include mq(md){
    margin-bottom: rem(0);
    width: per(312, 1200);
  }
}

.menu__category-title{
  font-size:  rem(24);
  line-height: calc(29 / 24);
  p {
    font-size:  rem(12);
    line-height: calc(14 / 12);
  }
  margin-bottom: rem(32);
}

.menu__list{

}

.menu__item{

}

.menu__item-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu__item-name{
  @include mq(md){

  }
}

.menu__item-name-en{

  @include mq(md){
    font-size:  rem(10);
    line-height: calc(24 / 10);
  }
}

.menu__item-name-jp{
  @include mq(md){
    font-size:  rem(16);
    line-height: calc(24 / 16);
  }
}

.menu__item-name-stauts{

  @include mq(md){
    font-size:  rem(12);
    line-height: calc(24 / 12);
  }
}

.menu__item-options{

}

.menu__item-size-price{

  @include mq(md){
    font-size:  rem(16);
    line-height: calc(19 / 16);

    & span{
      font-size:  rem(14);
      line-height: calc(17 / 14);
    }
  }
}
