@use "../foundation" as *;

.sns{
  background-color: $color-gray;
}


.sns__inner{
  padding: 0;
}

.sns__wrap{

}

.sns__title{

}

.sns__content{
  text-align: center;
  margin-top: rem(33);
  @include mq(md){
    margin-top: rem(50);
  }
}

.sns__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem(31);
  @include mq(md){
    margin-bottom: rem(50);
  }

}

.sns__item{
  width: per(128, 390);
  margin-bottom: rem(5);
  @include mq(md){
    width: per(390, 1200);
    margin-bottom: rem(10);
  }

}
